.mainDiv {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leftCon {
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
.uppperSec {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom-width: 5px red;
}
.leftCon {
  border-width: 2px;
  color: black;
}
.hor {
  border-width: 2px;
  color: black;
}
.YourComment {
  height: 32vh;
  margin-top: 5px;
  border-radius: 5px;
  margin-bottom: 6px;
  width: 150%;
  padding: 15px;
}
.Name {
  margin-bottom: 5px;
  width: 150%;
  border-radius: 5px;
  padding: 5px;
}
.spe {
  color: red;
  border-width: 2px;

  width: 90%;
}
.lowerCon {
  width: 80%;
  margin-bottom: 15px;
}
